<footer class="footer">
  <div class="container">
    <span class="text-muted float-right">
      <%= it 'footer.version', version: APP_VERSION %>
    </span>
    <span class="text-muted float-left">
      <%= it 'footer.copyright', year: Time.current.year %>
</footer>
